* { box-sizing: border-box; }
/*menu*/ 
body {
    width: 90%;
    height: auto;
    margin: auto;
} 
.container{width:100%;} 
.carousel-inner img{width:100%;}
.carousel-inner h3{
font-family: 'Varela Round', sans-serif;
}
.carousel-inner p{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    }
/*main*/
#SummaryHanoi{
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
}
#SummaryHanoi h2{
text-align: center;
}
#SummaryHanoi a{
    font-family: 'Oswald', sans-serif;
}
#SummaryHanoi p{
    padding-bottom: 2%;
    }
#main-content{
    padding-top: 1%;
    text-align: center;
    padding-bottom: 4%;
 }
 #tableJPG {
    margin: 0;
    padding-top: 2%;
}
/*---------------------------------------Image Hover Overlay--------------------------------------------------*/
.image_effect {
    position: relative;
    width: 100%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image_effect:hover .image {
    opacity: 0.65;
  }
  
  .image_effect:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-family:sans-serif;
    font-size: 1.15em;
    padding: 1% 0;
  }
/*-----------------------------------------------------end------------------------------------------*/
main div img
{
    width: 100%;
    height: 100%;
    padding-bottom: 15%;
    padding-left: 2%;
    padding-right: 2%;
}
/*end*/
/*-------------------------------------------------footer-----------------------------------*/
footer{
    padding-left: 1%;
    text-align: center;
}
footer h3{
    font-weight: bold;
    font-size:xx-large;
    padding-bottom: 5%; 
}
footer p{
    padding-bottom: 3%; 
}
h1, h2{
    padding-top: 5%;
    padding-bottom: 2.5%; 
    font-weight: bold;
    font-size:xx-large;
}
footer a{
    color: black;
}
@media only screen and (min-width: 768px)
/*-----------------------------------------For tablet:---------------------------------------------------*/
{
    *{ box-sizing: border-box; }  
#SummaryHanoi{
        padding-top: 1%;
        padding-left: 4%;
        padding-right: 4%;
        padding-bottom: 1%;
    }
#main-content{
        padding-top: 1%;
        padding-left: 3%;
        padding-bottom: 3%;
     }
main div img
{
    padding-left: 1%;
    padding-right: 1%;
}
footer{
    padding-left: 2%;
    background-color: #f7f7f7;
}
footer h3{
    font-weight: bold;
    font-size: x-large;
}
}

@media only screen and (min-width: 992px)
/*-------------------------------------For desktop:---------------------------------------*/
{
* { box-sizing: border-box; }  
/*menu*/
/*main*/
#SummaryHanoi{
    padding-top: 1%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1%;
}
#SummaryHanoi p, a{
    font-size:1.2em;
}
.panel-body{
    font-size:1.2em;  
}
#main-content{
    padding-top: 1%;
    padding-left: 3%;
    padding-bottom: 2%;
}
#main-content h2,p{
    font-family:sans-serif;
    padding-top: 0;
    padding-bottom: 0; 
 }
main div img
{
    width: 100%;
    height: 100%;
    padding-left: 1%;
    padding-right: 3%;
    padding-bottom: 5%;
}
#tableJPG {
    padding-top:2%;
   
}
/*footer*/
footer{
    font-family:sans-serif;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}
.row{
    margin-left: 0%;
}

footer h3{
    font-weight: bold;
    font-size: x-large;
}
}