* { box-sizing: border-box; }
/*menu*/ 
body {
    width: 90%;
    height: auto;
    margin: auto;
} 
/*main*/
#main-content{
    width: 100%;
    padding-top: 1%;
    padding-bottom: 4%;
    padding-left: 3%;
}
#main-content h1,h3, h5, p {
    padding-left: 3%;   
}
h1{
    margin-left: 5%;
    font-family: 'Asar', serif;
}
#main-content h3, h5{
    font-weight: bold;
}
#main-content p{
    padding-top: 3%;
}   
#main-content h5{
        text-decoration-line:underline;
        color: red;
}   
 main div img{
     vertical-align: middle;
     width: 100%;
     padding-left: 3%;
     padding-right: 1%;
 }
 main div{
     padding-bottom: 3%;
 }
/*end*/
/*-------------------------------------------------footer-----------------------------------*/
footer{
    padding-left: 1%;
    text-align: center;
}
footer h3{
    font-weight: bold;
    font-size:xx-large;
    padding-bottom: 5%; 
}
footer p{
    padding-bottom: 3%; 
}
h1, h2{
    padding-top: 5%;
    padding-bottom: 2.5%; 
    font-weight: bold;
    font-size:xx-large;
}
footer a{
    color: black;
}
@media only screen and (min-width: 768px)
/*-----------------------------------------For tablet:---------------------------------------------------*/
{
    *{ box-sizing: border-box; } 
#main-content{
    width: 100%;
    padding-bottom: 1%;
} 
footer{
    padding-left: 2%;
    background-color: #f7f7f7;
}
footer h3{
    font-weight: bold;
    font-size: x-large;
}
}

@media only screen and (min-width: 992px)
/*-------------------------------------For desktop:---------------------------------------*/
{
* { box-sizing: border-box; }  
/*menu*/
/*main*/
#main-content{
    width: 100%;
    padding-bottom: 1%;
    padding-left: 1%;
}
h1{
    font-size: 5em;
}
#main-content h3{
    font-size: 2em; 
} 
#main-content h5{
    font-size: 1.5em;
}
#main-content p{
    font-size: 1.2em;
}
#main-content li{
    font-size: 1.2em;
}
main div img{
    padding-left: 1%;
    padding-right: 2%;
}
main div{
    padding-bottom: 2%;
}
/*footer*/
footer{

    font-family:sans-serif;
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
}
.row{
    margin-left: 0%;
}
footer h3{
    font-weight: bold;
    font-size: x-large;
}
}